<div class="row">
  <div class="col-md-5"></div>

  <div class="col-xs-7">
    <label>Id</label>
    <input type="text" class="form-control" [(ngModel)]="jobDetail.id" #id />
    <label>Title</label>
    <input
      type="text"
      class="form-control"
      [(ngModel)]="jobDetail.title"
      #title
    />
    <label>Company</label>
    <input
      type="text"
      class="form-control"
      [(ngModel)]="jobDetail.company"
      #company
    />
    <label>Place</label>
    <input
      type="text"
      class="form-control"
      [(ngModel)]="jobDetail.place"
      #place
    />
    <br />
    <button
      class="btn btn-primary"
      (click)="onPostCreated(id.value, title.value, company.value, place.value)"
    >
      Post
    </button>
  </div>
</div>
