<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a href="#" class="navbar-brand">Routing Example</a>
    </div>

    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav navbar-right">
        <li>
          <button class="btn btn-primary" (click)="onSelect('jobs')">
            Jobs
          </button>
        </li>
        <li>
          <button class="btn btn-primary" (click)="onSelect('login')">
            Login
          </button>
        </li>
      </ul>
    </div>
  </div>
</nav>
